# Virtual environment
venv2/
venv/



# Environment variables file
.env
.env.example

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific folders
.vscode/
.idea/

# Streamlit cache
.streamlit/